body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.flex-container {
  display: flex;
  margin-bottom: 100px;
}
.d-flex {
  width: 50%;
  margin-left: 5%;
}
.d-flex img {
  width: 80%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 36;
}
.text-color {
  color: orangered;
}
.btn-hero {
  background-image: linear-gradient(#ffa500, rgb(255, 251, 0));
  padding: 10px 40px;
  color: #000000;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.btn-hero:hover {
  background-image: linear-gradient(rgba(52, 231, 186, 0.239), rgb(5, 80, 51));
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
/* Experiences area */
.experiences-area {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 40px rgb(148, 143, 134);
}
#web-dev-experiences {
  border-left: 6px solid;
  border-image-slice: 1;
  border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px)
    60;
}
#full-stack-experiences {
  border-left: 6px solid;
  border-image-slice: 1;
  border-image: repeating-linear-gradient(30deg, #c40eb4, #1928ca, #00d15e 20px)
    60;
}
.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}

/* second section area  */
.dream-Big {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.Experiences-container {
  background-image: url(/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
